# Environment / Secrets
# =====================
.env
.env.*
!.env.example
!.env.sample
*.pem
.vscode/sftp.json

# Node / Package
# =====================
**/node_modules/
.pnp/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Lock Files
# =====================
pnpm-lock.yaml
package-lock.json

# Build / Output / Generated / ORM / CMS
# =====================
.next/
out/
.out/
output/
.output/
build/
dist/
.dist/
.vercel/
.cache
.react-email/
prisma/generated/
generated/
.generated/
.medusa
.rulect/
.release/
release/
.claude

# Logs / Debug
# =====================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
# =====================
*.tsbuildinfo

# Uploads / Runtime Files
# =====================
uploads/
media/
medusa-db.sql

# OS / Editor
# =====================
.DS_Store
.idea/

# Custom / Project Notes
# =====================
.keep/
*.ignore.md